@font-face {
  font-family: Schoolbell;
  src: url('https://github.com/google/fonts/raw/master/apache/schoolbell/Schoolbell-Regular.ttf');
}

html {
  background: grey;
  font-family: Schoolbell;
}

.screen-heading {
  font-family: Schoolbell; 
}
