@font-face {
  font-family: Solis;
  src: url('https://jonturner-janrain.github.io/css-test.github.io/Solis-Regular.ttf');
}

html {
  background: white;
  font-family: 'Arial'
}

#logo {
  max-width: 300px;
}

#logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-heading {
  font-family: Solis; 
  text-align: center;
  color: #990099;
}
