@font-face {
  font-family: Schoolbell;
  src: url('https://fonts.googleapis.com/css?family=Schoolbell');
}

html {
  background: white;
  font-family: Schoolbell;
}

#logo {
  max-width: 300px;
}

#logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-heading {
  font-family: Schoolbell; 
  text-align: center;
  color: #990099;
}
